<%- include("layout/mainPageHeader.ejs") %>
</section>

<section class="question-text">
    <div class="ques-text">
        <div class="quesTxt">QUESTIONAIRE</div>
    </div>
</section>    

<section class="container">
    <div>
        <div><img src="/images/community/q1 (1).png" alt="first_ques" class="firstImg"></div>
        <div><img src="/images/community/Q2.png" alt="second_ques" class="secondImg"></div>
        <div><img src="/images/community/q3.png" alt="third_ques" class="thirdImg"></div>
    </div>
    <div class="right">
        <img src="/images/community/Webinar section.png" alt="webinarSection" class="webinar">
    </div>
</section>
<%- include("layout/mainPageFooter.ejs") %>