<div class="extra">
    <footer class="footer">
      <!-- <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3ae9f4ac1b9c8a9c1911d4c2dc71d56402c87e9acab980a06d6fe932092fb8c2?apiKey=832172b304c64528ad9545030926edec&&apiKey=832172b304c64528ad9545030926edec" alt="Farmer Community Footer Logo" class="footer-logo"> -->
      <div class="inner-foot">
        <div class="media"><a href=""><i class="fa-brands fa-instagram"></i></a></div>
        <div class="media"><a href=""><i class="fa-brands fa-whatsapp"></i></a></div>
        <div class="media"><a href=""><i class="fa-brands fa-square-facebook"></i></a></div>
        <div class="media"><a href=""><i class="fa-brands fa-linkedin"></i></a></div>
        <div class="media"><a href=""><i class="fa-brands fa-x-twitter"></i></a></div> 
      </div>
    </footer>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>